{% include "header.html" %}
<body>

 <h1 style="color: white; text-align: center" class=" fw-bold ">About Moonroc</h1>
  <section>

  <div class="px-4 pt-5 my-5 text-left border-bottom" style="
  background: black;
  background-size: 180% 180%;
  font color: white;
  animation: gradient-animation 18s ease infinite;">



    <div class="col-lg-6 mx-auto text-left">

      <p style="color: white" class="lead mb-4 ">Welcome to Moonroc Studios, a premier music haven nestled in the heart of Johannesburg, Fourways. Founded in 2018 by visionary CEO Civil Motha, our cozy studio stands as a beacon of creativity and innovation in the South African music scene.

At Moonroc Studios, we're more than just a recording space—we're a dynamic hub where artistic visions come to life. With a track record spanning documentaries, albums, singles, and beyond, our team, under the leadership of Civil Motha, has cultivated a reputation for excellence and ingenuity.

Our studio is not just a place to capture sound; it's a sanctuary where inspiration flows freely and creativity knows no bounds. From the moment you step through our doors, you'll be enveloped in an atmosphere of collaboration, passion, and dedication to craft.

Located in the bustling Fourways area, Moonroc Studios offers state-of-the-art facilities, meticulously designed to cater to the needs of musicians, producers, and creators alike. Our cutting-edge equipment and acoustically treated spaces ensure that every note, every beat, and every lyric is captured with unparalleled clarity and precision.

But what truly sets Moonroc Studios apart is our unwavering commitment to our clients' artistic visions. Whether you're a seasoned professional or an emerging talent, our team is dedicated to helping you realize your musical dreams. We believe in fostering a collaborative environment where ideas are shared, boundaries are pushed, and magic happens.

With Moonroc Studios, the journey from concept to creation is seamless and transformative. From pre-production to post-production, from composition to mastering, our team is with you every step of the way, offering guidance, expertise, and unwavering support.

Join us at Moonroc Studios and experience the difference that passion, innovation, and creativity can make in your music. Welcome to a new era of sonic excellence. Welcome to Moonroc Studios.</p>

    </div>

  </div>
    </section>
</body>
{% include "footer.html" %}