{% include "header.html" %}
<main style="background: white">

 <h2 style="color: black; text-align: center" class=" fw-bold ">Welcome To Moonroc Studios</h2>
  <section style="background: white">

  <div class="px-4 pt-5 my-5 text-left border-bottom" style="
  background: white;
  background-size: 180% 180%;
  font color: white;
  animation: gradient-animation 18s ease infinite;">



    <div class="col-lg-6 mx-auto text-left">
         <h3>Background</h3>
        <p style="color: black" class="lead mb-4 ">Founded in 2018 by Civil Motha aka <a style="color: black" href="https://www.instagram.com/civilthesound/?hl=en">CivilTheSound</a>, Moonroc Studios is a premier music haven nestled in the heart of Johannesburg, Fourways
          this cozy studio stands as a beacon of creativity and innovation in the South African music scene.

. With a track record spanning documentaries, albums, singles, and beyond, our team, under the leadership of Civil Motha, has cultivated a reputation for excellence and ingenuity.
</p>

    </div>
      <div class="col-lg-6 mx-auto text-left">
          <h3>Vision</h3>
         <p class="lead mb-4 ">To be one of the leading creative spaces in Africa and to grow the South African music industry</p>

  </div>

       <div class="col-lg-6 mx-auto text-left">
          <h3>Mission</h3>
         <p class="lead mb-4 ">To empower musicians, producers, and creators to unleash their full artistic potential</p>

  </div>
  </section>
</main>
{% include "footer.html" %}