
{% include "header.html" %}

{% from 'bootstrap5/form.html' import render_form %}

<body>

   <h3 style="color: black; text-align: center">Book Your Session</h3>
   <div style="color: black" class="container px-6 py-7  align-items-left" id="featured-3" >

    <div  class="row g-4 py-5 row-cols-1 ">
      <div class="">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary-light bg-gradient fs-2 mb-3">
              <img src="/static/images/contact.png" width="50"
     height="50">
        </div>
    <div >
      {{ render_form(form, novalidate=True) }}
    </div>
 </body>

    {% include "footer.html" %}




