
{% include "header.html" %}

<main style="background: white">
  <section style="background: white">

  <div class="px-4 pt-5 my-5 text-center border-bottom container" >
    <font color="white"><h1 class="display-4 fw-bold text-body-emphasis"></h1></font>
      <img src="static/images/moonrochome.jpg"
      style="max-width: 100%">
        <p style="color: black" class="lead mb-4">Welcome to MoonRoc Studios, The Best Sound In Town</p>
    <div class="col-lg-6 mx-auto">


      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">

        <a href="{{ url_for('contact') }}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Book Session</button>
          </a>

      </div>
    </div>

  </div>
    </section>

  <div style="background: white" class="container px-6 py-7  align-items-center" id="featured-3" >
    <h2 style="color: black; text-align: center "  class="pb-2 border-bottom  align-items-center">Why us?</h2>
    <div  class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary-light bg-gradient fs-2 mb-3">
              <img src="/static/images/speaker.png" width="50"
     height="50">
        </div>
        <h3  style="color: black" class="fs-2 ">Quality</h3>
        <p style="color: black">Step into MoonRoc studios, where the pursuit of sonic excellence is woven into every note, beat, and rhythm.
            We stand proudly behind the claim that our studio boasts the best sound quality.Digital Precision, Expertise and Experience,
            Attention to Detail and Continuous Improvement come together to deliver the best sound quality for your music.
        </p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary-light bg-gradient fs-2 mb-3">
          <img src="/static/images/mic2.png" width="50"
     height="50">



        </div>
        <h3 style="color: black text-align: center" class="fs-2 ">Creativity</h3>
        <p style="color: black">MoonRoc Studios, where sound meets soul and creativity. Our passion for music is the heartbeat of our studio, driving us to create an unparalleled sonic experience for you. What sets our studio
apart is not just the
quality of the sound, but the unwavering commitment to capturing the
pure essence of the song through a creative experiance.Every element in at
MoonRoc Studios is handpicked to elevate your music to new heights.
        </p>

      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary-light bg-gradient fs-2 mb-3">
  <img src="/static/images/headphones.png" width="50"
     height="50">
        </div>
        <h3 style="color: black text-align: center" class="fs-2">Personal Touch</h3>
        <p style="color: black">For MoonRoc Studios,
            music isn't just a profession, it is a deeply personal journey.
            We believe that every artist has a unique voice,
            and our mission is to amplify yours with a personalized touch that sets our studio apart.
            A collaborative atmosphere and tailored approach to support the process,
            feedback and guidance to get the right sound for you,
            Our commitment to your music doesn't end when the recording session does.


        </p>
        <a href="#" class="icon-link">

        </a>
      </div>
    </div>
  </div>
<!--<div class="container">-->
<!--  <div id="carouselExample" class="carousel slide">-->
<!--    <div class="carousel-inner">-->

<!--      <div class="carousel-item">-->
<!--          <img src="/static/images/mic3.jpg " width="200"-->
<!--     height="600" class="d-block w-100" alt="...">-->

<!--      </div>-->
<!--        <div class="carousel-item active">-->
<!--        <img src="/static/images/mic.jpg" width="100"-->
<!--     height="800" class="d-block w-100"   alt="...">-->
<!--        </div>-->
<!--    </div>-->
<!--    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Previous</span>-->
<!--    </button>-->
<!--    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">-->
<!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--      <span class="visually-hidden">Next</span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="container">-->

</div>
</main>
 {% include "footer.html" %}



