{% include "header.html" %}

<main style="background: white">

  <section class="py-5 text-center container" >
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 style="color: black" class="fw-light">Some projects that have been done at our studio</h1>
        <p style="color: black" class="lead "></p>
        <p>
        </p>
      </div>
    </div>
  </section>

  <div style="background: white" class="album py-5 bg-body-tertiary">
    <div style="background: white" class="container">

      <div style="background: black" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

           <div class="col">
            <div class="card shadow-sm"

            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pop Star</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
                <img src="static/images/PopStar.jpg"  style="max-width: 100%">
              <p class="card-text">Yanga Chief - Pop Star</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/playlist?list=PL9tY0BWXOZFuTg3O4jGetqpXLGa2pg3Mn" target=”_blank”>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card shadow-sm"

            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pop Star</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
                <img src="static/images/Backroom.jpg"  style="max-width: 100%">
              <p class="card-text">Musa The Voice - Backroom</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/D4zLe8812Xk?si=ZAHghMZurxCk1bff" target=”_blank”>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm"

            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title></title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
                <img src="static/images/Recline.jpg"  style="max-width: 100%">
              <p class="card-text">CivilTheSound - Recline</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://youtu.be/qmuVMSI1PcQ?si=1VWYnPeV8sD9jYiY" target=”_blank”>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

         <div class="col">
            <div class="card shadow-sm"

            <svg class="bd-placeholder-img card-img-top" width="100%" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pop Star</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
                <img src="/static/images/moe.jpg" width="233"
     height="200"    alt="..."  style="max-width: 100%">
              <p class="card-text">MOE. - It Was A Vibe</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=i9OK1GtVnT8" target=”_blank”>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>
        </div>

    <div class="card shadow-sm"
            <svg class="bd-placeholder-img"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pop Star</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

            <div class="card-body">
                <img src="static/images/bomaq.jpg" width="233"
     height="200"    alt="..."  style="max-width: 100%">
              <p class="card-text">Bo Maq x CivilTheSound- Future Sounds</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=CmPJl645eRE" target=”_blank”>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>


        <div class="col">

          <div class="card shadow-sm"
            <svg class="bd-placeholder-img"  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Pop Star</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            <div class="card-body">
                <img src="static/images/savemilli.jpg" width="233"
     height="200"    alt="..."  style="max-width: 100%">
              <p class="card-text">Savemilli - Locate You</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="https://www.youtube.com/watch?v=GwEoCeXFZUs" target=”_blank”>
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  </a>
                </div>
                <small class="text-body-secondary"></small>
              </div>
            </div>
          </div>


   <div class="col">












</main>

</body>
{% include "footer.html" %}